$red: #FF0000FF;
$black: #232222FF;
$white: #FFFFFF;

$black-hover: #3e3d3d;

$black-disabled: #504e4e;
$white-disabled: #e6e5e5;

$primary-btn-color: #232222FF;
$primary-btn-hover-color: #6A5E5EFF;

$text-xxl: 2.5rem;
$text-xl: 2rem;
$text-lg: 1.5rem;
$text-md: 1.125rem;
$text-base: 1rem;
$text-sm: 0.875rem;
$text-xs: 0.75rem;

$line-height-normal: 1.5;
$line-height-tight: 1.2;
$line-height-loose: 1.7;

$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;