@use 'scss-reset/reset';
@use 'dependencies' as *;

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: $line-height-normal;
  font-weight: $weight-regular;
  font-size: $text-base;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 0.3rem;
  padding: 0.5rem;

  &.black {
    background-color: $black;
    color: $white;

    &:disabled {
      background-color: $black-disabled;
      color: $white-disabled;
      cursor: not-allowed;
    }

    &:hover {
      background-color: $black-hover;
      transition: all 0.2s ease-in-out;
    }
  }
}

input {
  border-radius: 0.3rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  h1 {
    text-align: center;
    font-weight: $weight-bold;
    font-size: $text-md;
  }

  label {
    margin-top: 0.5rem;
  }

  button {
    margin-top: 0.6rem;
    width: 30rem;
    padding: 0.5rem;
  }

  input {
    padding: 0.3rem;
    width: 30rem;
    margin-top: 0.2rem;
  }

  span.error {
    color: $red;
    font-size: $text-sm;
    width: 30rem;
  }
}
