@use 'scss-reset/reset';
@use 'dependencies';

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
