@use '@styles/dependencies' as *;

header {
  background-color: #ddd3d3;
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
  padding: 1rem .8rem;
}

@mixin headerButtons {
  display: flex;
  flex-direction: row;
  gap: .8rem;

  button {
    color: $primary-btn-color;
  }
  
  button:hover {
    color: $primary-btn-hover-color;
  }
}

.pageNames {
  @include headerButtons;
  justify-content: flex-start;
  width: 60%;
}

.authButtons {
  @include headerButtons;
  justify-content: flex-end;
  width: 40%;
}
